.leaderboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.main-title {
  font-size: 2em;
}

tr {
  text-align: center;
}

.name,
.number {
  font-size: 1.5em;
}

table {
  margin-top: 30px;
  border-spacing: 20px;
  border: 1px solid white;
  border-radius: 10px;
}
